@import '_mq';

@font-face {
    font-family: 'Ogg';
    src: url('../assets/ogg-italic-webfont.woff2') format('woff2'),
         url('../assets/ogg-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garda Sans';
    src: url('../assets/garda_titlingthree_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garda';
    src: url('../assets/garda_titlingone_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'silk serif';
    src: url('../assets/silk_serif_light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
  font-family: 'pp_editorial_newitalic';
  src: url('../assets/ppeditorialnew-italic-webfont.woff2') format('woff2'),
       url('../assets/ppeditorialnew-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pp_editorial_newregular';
  src: url('../assets/ppeditorialnew-regular-webfont.woff2') format('woff2'),
       url('../assets/ppeditorialnew-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pp_editorial_newultrabold';
  src: url('../assets/ppeditorialnew-ultrabold-webfont.woff2') format('woff2'),
       url('../assets/ppeditorialnew-ultrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pp_editorial_newultraBdIt';
  src: url('../assets/ppeditorialnew-ultrabolditalic-webfont.woff2') format('woff2'),
       url('../assets/ppeditorialnew-ultrabolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pp_editorial_newultralight';
  src: url('../assets/ppeditorialnew-ultralight-webfont.woff2') format('woff2'),
       url('../assets/ppeditorialnew-ultralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('../assets/MaisonNeue-Light.woff2') format('woff2'),
      url('../assets/MaisonNeue-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saol Display';
  src: url('../assets/SaolDisplay-ThinItalic.woff2') format('woff2'),
      url('../assets/SaolDisplay-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: 'Maison Neue';
  margin:0;
  padding:0;
  background-color: #eeeeec;
}
h1 {
  position: absolute;
  top: 10px;
}

h1, h2, h3, h4 {
  font-size: 20px;
  padding:0;
  margin:0;
}

h2 {
  position: absolute;
  bottom: 10px;
  font-family: 'pp_editorial_newultralight';
}

h3 {
  font-family: 'pp_editorial_newultralight';
}

h4 {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align:right;
}

.mulitply {
  mix-blend-mode: multiply;
}

/* img {
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  width: 80%;
  display:none;
}

img.display {
  display:block;
} */


.close {
  position: absolute;
  top: 10px;
  left: 20px;
  cursor: pointer;

  svg {
    width: 30px;
  }

  &.contact-close {
    left: unset;
    right: 20px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.home__cover--img {
  width: 250%;
  top: 60px;
}

.monogram {
  position: fixed;
  top: 20px;
  left: 21px;
  opacity: 0;
  transition: all ease-in-out 0.5s;

  &.inview {
    opacity: 1;
  }

  svg {
    width: 60px;
    height: auto;
  }
}

.click-area {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 100;
}

.page-wrapper {
  position:relative;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:0;
  padding-bottom: 20vh;
  overflow-y: hidden;
}

footer {
  width: 90.3%;
  margin-left: 5%;
  padding-bottom:20px;
  border-top: 1px solid #121212;
  padding-top: 20px;

  @include mq($from: desktop) {
    width: 98%;
    margin-left: 1%;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    margin-left: 0;

    small {
      line-height: 1.4;

      @include mq($from: desktop) {
        line-height: 1;
      }
    }

    h2 {
      position: relative;
      font-family: 'pp_editorial_newultralight';
      font-weight: 200;
      font-size: 26px;
      line-height: 1.3;

      @include mq($from: desktop) {
        font-size: 30px;
        line-height: 1.1;
      }

      a {
        text-decoration: none;
        color: inherit;

        &:hover {
          border-bottom: 1px solid #121212;
        }
      }
    }
  }
}

.contact {
  position: absolute;
  top: 20px;
  left: 40px;
  z-index: 101;
  cursor: pointer;
  font-size: 25px;

  &:hover {
    border-bottom: 1px solid #121212;
  }

  &.about-clicked {
    opacity: 0;
    pointer-events: none;

    @include mq($from: desktop) {
      opacity: 1;
    }
  }
}

.about {
  position: absolute;
  top: 20px;
  right: 40px;
  z-index: 101;
  cursor: pointer;
  font-size: 25px;

  &:hover {
    border-bottom: 1px solid #121212;
  }

  &.contact-clicked {
    opacity: 0;
    pointer-events: none;

    @include mq($from: desktop) {
      opacity: 1;
    }
  }
}

.about-wrapper {
  right: 0;
  left: unset;
  position: fixed;
  height: 100vh;
  overflow: scroll;
  top: 0;
  width: 0;
  background-color: rgb(236, 225, 239);
  z-index: 100;
  transition: all ease-in-out 0.5s;


  &.contact {
    left: 0;
    right: unset;
    background-color: rgb(209, 255, 129);

    &.clicked {
      left: 0;
      width: 100%;
      right: unset;

      @include mq($from: desktop) {
        width: 45%;
      }
    }

    .about-inner {
      left: 40px;
      right: 80px;

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          border-bottom: 1px solid #121212;
        }
      }
    }
  }

  &.clicked {
    left: unset;
    width: 100%;
    right: 0;

    @include mq($from: desktop) {
      width: 45%;
    }
  }

  &.about {
    .about-inner {
      top: 130px;
      left: 20px;
      right: 40px;
      bottom: unset;

      @include mq($from: desktop) {
        left: 80px;
      }
    }
  }

  .about-inner {
    top: unset;
    left: 80px;
    right: 40px;
    bottom: 20px;
    position: absolute;
    padding-bottom: 40px;
  }

  h2 {
    position: relative;
    font-family: 'Maison Neue';
    font-weight: 200;
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 20px;
    font-weight: 200;

    @include mq($from: desktop) {
      font-size: 30px;
    }
  }

  p, ul, li {
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Maison Neue';

    @include mq($from: desktop) {
      font-size: 18px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    &.client-list {
      columns: 2;

      @include mq($from: desktop) {
        columns: 3;
      }

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.center-top {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 99;

  svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;

      @include mq($from: desktop) {
        width: unset;
        top: 45%;
      }
  }

  h2 {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    text-align: center;
    bottom: unset;
    font-size: 34px;
    width: 70%;
    font-weight: 200;

    @include mq($from: desktop) {
      font-size: 50px;
      top: 58%;
      width: 100%;
      line-height: 1;
    }
  }
}

.gu-video {
  background-color: #f6f6f6;
  width: 98%;
  height: 95vh;
  margin-left: 1%;
  margin-top: 1%;
}

.gu-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-top h1 {
  margin-top: 5px;
  margin-left: 10px;
}

.flex, .flex-top {
  flex-direction: column;
  display: flex;
  margin-top: 1%;
  margin-left: 5%;

  @include mq($from: desktop) {
    flex-direction: row;
  }

  &.reverse {
    flex-direction: column-reverse;

    @include mq($from: desktop) {
      flex-direction: row;
    }
  }
}

.flex {
  justify-content: space-around;
  &.start {
    margin-top: -100px;
  }

  &.padd {
    margin-top: 5px;

    @include mq($from: desktop) {
      margin-top: 260px;
    }
  }
}

.flex .left,
.flex .right {
  width: 95%;
  margin-right: 5%;
  height: 30vw;
  // background-color: #fff;

  @include mq($from: desktop) {
    width: 50%;
  }

  &.long {
    height: auto;
    min-height: 40vh;

    @include mq($from: desktop) {
      height: 50vw;
    }
  }

  &.square {
    height: auto;
    width: 95%;
    min-height: 50vh;

    @include mq($from: desktop) {
      height: 31.4vw;
      width: 33%;
      min-height: unset;
    }
  }

  &.text {
    background-color: transparent;
    margin-top: 30px;

    @include mq($from: desktop) {
      margin-top: unset;
    }

    h3 {
      font-weight: 200;
      font-size: 36px;
      line-height: 1.1;
      font-family: 'pp_editorial_newultralight';
    }

    p {
      margin-bottom: 50px;
      font-family: 'Maison Neue';
      line-height: 1.4;
      font-size: 18px;

      @include mq($from: desktop){
        margin-bottom: 80px;
      }

      a {
        color: #121212;
        text-decoration: none;
        line-height: 1;

        &:hover {
          border-bottom: 1px solid #121212;
        }
      }
    }
  }
}


.flex-top .left,
.flex-top .right {
  width: 49%;
  margin-right: 1%;
}

.flex-top {
  height: 60px;
}

.flex-top h1 {
  position: relative;
  line-height: 1;
}

.left img, .right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left video, .right video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.padd-half {
  margin-top: 1%;

  @include mq($from: desktop) {
    margin-top: 100px;
  }
}

.fullwidth {
  width: 90.3%;
  height: 40vh;
  margin-left: 5%;
  margin-top: 1%;
  margin-top: 0px;
  margin-bottom: 20px;

  @include mq($from: desktop) {
    height: 98vh;
    margin-top: 100px;
    width: 98%;
    margin-left: 1%;
    margin-bottom: unset;
  }

  &.videozoom {
    display: none;

    @include mq($from: desktop) {
      display: block;
    }

    &.show-mobile {
      display: block;
      height: auto;
    }
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.non-zoom {
    @include mq($until: tablet) {
      height: auto;
    }
    img {
      @include mq($until: tablet) {
        height: auto;
      }
    }
  }
}

.fullwidth img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lazy {
  opacity: 0;
  transform: translateX(-50px);
  margin-bottom: 20px;

  @include mq($from: desktop) {
    margin-bottom: unset;
  }
}

@keyframes lazy {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.lazy.inview {
  opacity: 0;
  animation-name: lazy;
  animation-duration: 0.5s;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

video.lazy{
  opacity: 1;
}

.skills-list {
  display: block;
  margin-top: 20px;
}

.fullheight {
  height: auto;
  overflow: none;

  img {
    object-fit: unset;
    height: auto;
  }
}

.auto-height {
  @include mq($from: desktop) {
    height: auto !important;
  }
}

.square-up {
  @include mq($from: desktop) {
    height: 31.4vw;
    width: 100%;
  }
}

.no-crop {
  height: auto !important;
  img {
    height: auto !important;
  }
}

.SOTD-BADGE {
  position: fixed;
  left: 0;
  top: 120px;
  z-index: 10000;
  display: none;

  img {
    width: 30px;
  }
}
