@font-face {
  font-family: "Ogg";
  src: url("../assets/ogg-italic-webfont.woff2") format("woff2"), url("../assets/ogg-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Garda Sans";
  src: url("../assets/garda_titlingthree_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Garda";
  src: url("../assets/garda_titlingone_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "silk serif";
  src: url("../assets/silk_serif_light-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "pp_editorial_newitalic";
  src: url("../assets/ppeditorialnew-italic-webfont.woff2") format("woff2"), url("../assets/ppeditorialnew-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pp_editorial_newregular";
  src: url("../assets/ppeditorialnew-regular-webfont.woff2") format("woff2"), url("../assets/ppeditorialnew-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pp_editorial_newultrabold";
  src: url("../assets/ppeditorialnew-ultrabold-webfont.woff2") format("woff2"), url("../assets/ppeditorialnew-ultrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pp_editorial_newultraBdIt";
  src: url("../assets/ppeditorialnew-ultrabolditalic-webfont.woff2") format("woff2"), url("../assets/ppeditorialnew-ultrabolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pp_editorial_newultralight";
  src: url("../assets/ppeditorialnew-ultralight-webfont.woff2") format("woff2"), url("../assets/ppeditorialnew-ultralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Maison Neue";
  src: url("../assets/MaisonNeue-Light.woff2") format("woff2"), url("../assets/MaisonNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Saol Display";
  src: url("../assets/SaolDisplay-ThinItalic.woff2") format("woff2"), url("../assets/SaolDisplay-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Saol Display Light";
  src: url("../assets/SaolDisplay-Light.woff2") format("woff2"), url("../assets/SaolDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Maison Neue";
  margin: 0;
  padding: 0;
  background-color: #eeeeec;
}

h1 {
  position: absolute;
  top: 10px;
}

h1, h2, h3, h4 {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

h2 {
  position: absolute;
  bottom: 10px;
  font-family: "Saol Display Light";
}

h3 {
  font-family: "Saol Display Light";
}

h4 {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
}

.mulitply {
  mix-blend-mode: multiply;
}

/* img {
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  width: 80%;
  display:none;
}

img.display {
  display:block;
} */
.close {
  position: absolute;
  top: 10px;
  left: 20px;
  cursor: pointer;
}
.close svg {
  width: 30px;
}
.close.contact-close {
  left: unset;
  right: 20px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.home__cover--img {
  width: 250%;
  top: 60px;
}

.monogram {
  position: fixed;
  top: 20px;
  left: 21px;
  opacity: 0;
  transition: all ease-in-out 0.5s;
}
.monogram.inview {
  opacity: 1;
}
.monogram svg {
  width: 60px;
  height: auto;
}

.click-area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.page-wrapper {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  padding-bottom: 20vh;
  overflow-y: hidden;
}

footer {
  width: 90.3%;
  margin-left: 5%;
  padding-bottom: 20px;
  border-top: 1px solid #121212;
  padding-top: 20px;
}
@media all and (min-width: 61.25em) {
  footer {
    width: 98%;
    margin-left: 1%;
  }
}
footer .flex {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
}
footer .flex small {
  line-height: 1.4;
}
@media all and (min-width: 61.25em) {
  footer .flex small {
    line-height: 1;
  }
}
footer .flex h2 {
  position: relative;
  font-family: "Saol Display Light";
  font-weight: 200;
  font-size: 26px;
  line-height: 1.3;
}
@media all and (min-width: 61.25em) {
  footer .flex h2 {
    font-size: 30px;
    line-height: 1.1;
  }
}
footer .flex h2 a {
  text-decoration: none;
  color: inherit;
}
footer .flex h2 a:hover {
  border-bottom: 1px solid #121212;
}

.contact {
  position: absolute;
  top: 20px;
  left: 40px;
  z-index: 101;
  cursor: pointer;
  font-size: 25px;
}
.contact:hover {
  border-bottom: 1px solid #121212;
}
.contact.about-clicked {
  opacity: 0;
  pointer-events: none;
}
@media all and (min-width: 61.25em) {
  .contact.about-clicked {
    opacity: 1;
  }
}

.about {
  position: absolute;
  top: 20px;
  right: 40px;
  z-index: 101;
  cursor: pointer;
  font-size: 25px;
}
.about:hover {
  border-bottom: 1px solid #121212;
}
.about.contact-clicked {
  opacity: 0;
  pointer-events: none;
}
@media all and (min-width: 61.25em) {
  .about.contact-clicked {
    opacity: 1;
  }
}

.about-wrapper {
  right: 0;
  left: unset;
  position: fixed;
  height: 100vh;
  overflow: scroll;
  top: 0;
  width: 0;
  background-color: #ece1ef;
  z-index: 100;
  transition: all ease-in-out 0.5s;
}
.about-wrapper.contact {
  left: 0;
  right: unset;
  background-color: #d1ff81;
}
.about-wrapper.contact.clicked {
  left: 0;
  width: 100%;
  right: unset;
}
@media all and (min-width: 61.25em) {
  .about-wrapper.contact.clicked {
    width: 45%;
  }
}
.about-wrapper.contact .about-inner {
  left: 40px;
  right: 80px;
}
.about-wrapper.contact .about-inner a {
  color: inherit;
  text-decoration: none;
}
.about-wrapper.contact .about-inner a:hover {
  border-bottom: 1px solid #121212;
}
.about-wrapper.clicked {
  left: unset;
  width: 100%;
  right: 0;
}
@media all and (min-width: 61.25em) {
  .about-wrapper.clicked {
    width: 45%;
  }
}
.about-wrapper.about .about-inner {
  top: 130px;
  left: 20px;
  right: 40px;
  bottom: unset;
}
@media all and (min-width: 61.25em) {
  .about-wrapper.about .about-inner {
    left: 80px;
  }
}
.about-wrapper .about-inner {
  top: unset;
  left: 80px;
  right: 40px;
  bottom: 20px;
  position: absolute;
  padding-bottom: 40px;
}
.about-wrapper h2 {
  position: relative;
  font-family: "Maison Neue";
  font-weight: 200;
  font-size: 26px;
  line-height: 1.3;
  margin-bottom: 20px;
  font-weight: 200;
}
@media all and (min-width: 61.25em) {
  .about-wrapper h2 {
    font-size: 30px;
  }
}
.about-wrapper p, .about-wrapper ul, .about-wrapper li {
  font-size: 16px;
  line-height: 1.4;
  font-family: "Maison Neue";
}
@media all and (min-width: 61.25em) {
  .about-wrapper p, .about-wrapper ul, .about-wrapper li {
    font-size: 18px;
  }
}
.about-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.about-wrapper ul.client-list {
  columns: 2;
}
@media all and (min-width: 61.25em) {
  .about-wrapper ul.client-list {
    columns: 3;
  }
}
.about-wrapper ul.client-list a {
  color: inherit;
  text-decoration: none;
}
.about-wrapper ul.client-list a:hover {
  text-decoration: underline;
}

.center-top {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 99;
}
@media all and (min-width: 61.25em) {
  .center-top {
    height: auto;
    padding-top: 170px;
    padding-bottom: 80px;
  }
}
.center-top svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
@media all and (min-width: 61.25em) {
  .center-top svg {
    width: unset;
    top: 150px;
    transform: translate(-50%, -50%);
    position: relative;
    top: unset;
    left: unset;
    transform: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
.center-top h2 {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  text-align: center;
  bottom: unset;
  font-size: 22px;
  width: 90%;
  font-weight: 200;
}
@media all and (min-width: 61.25em) {
  .center-top h2 {
    font-size: 40px;
    top: 280px;
    width: 100%;
    line-height: 1;
    position: relative;
    top: unset;
    left: unset;
    transform: none;
    margin-top: 20px;
  }
}

.gu-video {
  background-color: #f6f6f6;
  width: 98%;
  height: 95vh;
  margin-left: 1%;
  margin-top: 1%;
}

.gu-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-top h1 {
  margin-top: 5px;
  margin-left: 10px;
}

.flex, .flex-top {
  flex-direction: column;
  display: flex;
  margin-top: 1%;
  margin-left: 5%;
}
@media all and (min-width: 61.25em) {
  .flex, .flex-top {
    flex-direction: row;
  }
}
.flex.reverse, .flex-top.reverse {
  flex-direction: column-reverse;
}
@media all and (min-width: 61.25em) {
  .flex.reverse, .flex-top.reverse {
    flex-direction: row;
  }
}

.flex {
  justify-content: space-around;
}
.flex.start {
  margin-top: -100px;
}
.flex.padd {
  margin-top: 5px;
}
@media all and (min-width: 61.25em) {
  .flex.padd {
    margin-top: 260px;
  }
}

.flex .left,
.flex .right {
  width: 95%;
  margin-right: 5%;
  height: 30vw;
}
@media all and (min-width: 61.25em) {
  .flex .left,
.flex .right {
    width: 50%;
  }
}
.flex .left.long,
.flex .right.long {
  height: auto;
  min-height: 40vh;
}
@media all and (min-width: 61.25em) {
  .flex .left.long,
.flex .right.long {
    height: 50vw;
  }
}
.flex .left.square,
.flex .right.square {
  height: auto;
  width: 95%;
  min-height: 50vh;
}
@media all and (min-width: 61.25em) {
  .flex .left.square,
.flex .right.square {
    height: 31.4vw;
    width: 33%;
    min-height: unset;
  }
}
.flex .left.text,
.flex .right.text {
  background-color: transparent;
  margin-top: 30px;
}
@media all and (min-width: 61.25em) {
  .flex .left.text,
.flex .right.text {
    margin-top: unset;
  }
}
.flex .left.text h3,
.flex .right.text h3 {
  font-weight: 200;
  font-size: 36px;
  line-height: 1.1;
  font-family: "Saol Display Light";
}
.flex .left.text p,
.flex .right.text p {
  margin-bottom: 50px;
  font-family: "Maison Neue";
  line-height: 1.4;
  font-size: 18px;
}
@media all and (min-width: 61.25em) {
  .flex .left.text p,
.flex .right.text p {
    margin-bottom: 80px;
  }
}
.flex .left.text p a,
.flex .right.text p a {
  color: #121212;
  text-decoration: none;
  line-height: 1;
}
.flex .left.text p a:hover,
.flex .right.text p a:hover {
  border-bottom: 1px solid #121212;
}

.flex-top .left,
.flex-top .right {
  width: 49%;
  margin-right: 1%;
}

.flex-top {
  height: 60px;
}

.flex-top h1 {
  position: relative;
  line-height: 1;
}

.left img, .right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left video, .right video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.padd-half {
  margin-top: 1%;
}
@media all and (min-width: 61.25em) {
  .padd-half {
    margin-top: 100px;
  }
}

.fullwidth {
  width: 90.3%;
  height: 40vh;
  margin-left: 5%;
  margin-top: 1%;
  margin-top: 0px;
  margin-bottom: 20px;
}
@media all and (min-width: 61.25em) {
  .fullwidth {
    height: 98vh;
    margin-top: 100px;
    width: 98%;
    margin-left: 1%;
    margin-bottom: unset;
  }
}
.fullwidth.videozoom {
  display: none;
}
@media all and (min-width: 61.25em) {
  .fullwidth.videozoom {
    display: block;
  }
}
.fullwidth.videozoom.show-mobile {
  display: block;
  height: auto;
}
.fullwidth video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media all and (max-width: 46.24em) {
  .fullwidth.non-zoom {
    height: auto;
  }
}
@media all and (max-width: 46.24em) {
  .fullwidth.non-zoom img {
    height: auto;
  }
}

.fullwidth img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lazy {
  opacity: 0;
  transform: translateX(-50px);
  margin-bottom: 20px;
}
@media all and (min-width: 61.25em) {
  .lazy {
    margin-bottom: unset;
  }
}

@keyframes lazy {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.lazy.inview {
  opacity: 0;
  animation-name: lazy;
  animation-duration: 0.5s;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

video.lazy {
  opacity: 1;
}

.skills-list {
  display: block;
  margin-top: 20px;
}

.fullheight {
  height: auto;
  overflow: none;
}
.fullheight img {
  object-fit: unset;
  height: auto;
}

@media all and (min-width: 61.25em) {
  .auto-height {
    height: auto !important;
  }
}

@media all and (min-width: 61.25em) {
  .square-up {
    height: 31.4vw;
    width: 100%;
  }
}

.no-crop {
  height: auto !important;
}
.no-crop img {
  height: auto !important;
}

.SOTD-BADGE {
  position: fixed;
  left: 0;
  top: 120px;
  z-index: 10000;
  display: none;
}
.SOTD-BADGE img {
  width: 30px;
}

.showreel {
  width: 100%;
  height: auto;
  z-index: -30;
  position: relative;
  margin-bottom: 100px;
}
@media all and (max-width: 61.24em) {
  .showreel {
    display: none;
  }
}

.slider {
  width: 5520px;
  margin: auto;
  overflow: visible;
  margin-bottom: 230px;
}

.slider ul {
  display: flex;
  padding: 0;
  animation: cambio 70s infinite linear;
  vertical-align: middle;
  align-items: center;
}

.slider li {
  padding: 0 10px;
  list-style: none;
  width: 200px;
  margin-right: 60px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  flex-direction: column;
}

.slider img {
  max-width: fit-content !important;
  height: auto !important;
  width: 100%;
}

.slider img.max-height {
  max-height: 90px;
  width: auto !important;
}

.slider img.clinique {
  max-height: 74px;
  width: auto !important;
}

.slider img.new-balance {
  max-height: 124px;
  width: auto !important;
}

.slider img.dts {
  height: 18px !important;
  width: auto !important;
}

@keyframes cambio {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: -100%;
  }
}

/*# sourceMappingURL=style.css.map */
